.signup-container
{
	position: fixed;
	top:5em;
	left:0;
	width: 100vw;
	height: calc(100% - 5em);
	background-color: white;
	z-index: 1000;
	text-align: center;
	overflow-y: auto;
	padding-bottom: 2em;
}

.signup-logo
{
	margin-top: 5em;
	height: 10em;
}


.signup-email
{
	margin-top: 4em;
}

.signup-email, .signup-password
{
	text-align: left !important;
	margin-left: calc(50% - 15em);
}

.signup-input
{
	width: 30em !important;
	text-align: left;
}

.signup-button
{
	margin-top: 2em;
}

.signup-input
{
	clear: both !important;
}

.signup-invalid-credentials-hide
{
	display: none;
}

.signup-invalid-credentials-show
{
	display: none;
}

.signup-cancel-button
{
	margin-top: 1em;
}