<div>
    <form name="form" ng-submit="submit()">

        <md-card>
            <div class="card-header">Tipo de trámite</div>
            <div class="card-body">
                <div layout="row" layout-align="center">

                    <md-radio-group ng-model="application.type" ng-change="application.level = undefined; application.profile = undefined">
                        <md-radio-button style="display: inline-block" value="1" class="md-primary">
                            General
                        </md-radio-button>
                        <md-radio-button style="display: inline-block;margin-left: 1em" class="md-primary" value="2">
                            Específico
                        </md-radio-button>
                    </md-radio-group>
                </div>


                <div layout="row" layout-align="center" style="margin-top:1em">

                    <div flex="25" layout="column">
                        <md-input-container>
                            <label for="state">Entidad federativa:</label>
                            <md-select name="state" id="state" ng-model="application.state" ng-change="genderChanged()" required>
                                <md-option ng-repeat="state in states |orderBy:'name'" value="{{state.key}}">
                                    {{state.name}}
                                </md-option>
                            </md-select>
                            <ng-messages for="form.state.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                            <div class="md-errors-spacer"></div>
                        </md-input-container>
                    </div>

                    <div layout="column" flex="25" flex-offset="5">
                        <md-input-container>
                            <label for="level">Nivel educativo:</label>
                            <md-select name="level" id="level" ng-model="application.level" ng-change="application.profile = undefined" required>
                                <md-option ng-value="1" ng-show="application.type == 1">Educación Básica
                                </md-option>
                                <md-option ng-value="2" ng-show="application.type == 1">Educación Media Superior
                                </md-option>
                                <md-option ng-value="3" ng-show="application.type == 1">Técnico Superior Universitario
                                </md-option>
                                <md-option ng-value="4" ng-show="application.type == 1">Educación Superior
                                </md-option>
                                <md-option ng-value="5" ng-show="application.type == 2">Superior
                                </md-option>

                            </md-select>
                            <ng-messages for="form.level.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                            <div class="md-errors-spacer"></div>
                        </md-input-container>
                    </div>
                    <div layout="column" flex="25" flex-offset="5">
                        <md-input-container>

                            <label for="profile">Perfin educativo:</label>
                            <md-select name="profile" id="profile" ng-model="application.profile" required>
                                <md-option ng-repeat="profile in profiles |orderBy:'profile'" ng-value="profile.profile" ng-click="application.profType = profile.profType" ng-show="application.level == profile.levelType">
                                    {{profile.profile}}
                                </md-option>
                            </md-select>

                            <ng-messages for="form.profile.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>

                            <div class="md-errors-spacer"></div>

                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-card>


    </form>


    <md-card>
        <div class="card-header">Documentos</div>
        <div class="card-body" style="padding:4em">
            <md-grid-list ng-show="application.level != undefined && application.profile != undefined" md-cols="3" md-row-height="6:5" md-gutter="4em">

                <md-grid-tile md-colspan="1" md-rowspan="1">
                    <div layout="column" class="dropfile" dropfile prop="acta" indicator="actaProgress" file-name="Acta de Nacimiento">
                        <h5 layout="row" layout-align="center">Acta de Nacimiento</h5>
                    </div>
                </md-grid-tile>
                <md-grid-tile md-colspan="1" md-rowspan="1">
                    <div layout="column" class="dropfile" dropfile prop="curp" indicator="curpProgress" file-name="CURP">
                        <h5 layout="row" layout-align="center">CURP</h5>
                    </div>
                </md-grid-tile>
                <md-grid-tile ng-if="application.level != 2" md-colspan="1" md-rowspan="1">
                    <div layout="column" class="dropfile" dropfile prop="ident" indicator="identProgress" file-name="Identificación Oficial">
                        <h5 layout="row" layout-align="center">Identificación Oficial</h5>
                    </div>
                </md-grid-tile>
                <md-grid-tile md-colspan="1" md-rowspan="1">
                    <div layout="column" class="dropfile" dropfile prop="certAnt" indicator="certAntProgress" file-name="Certificado de Estudios">
                        <h5 layout="row" layout-align="center">Certificado de Estudios</h5>
                    </div>
                </md-grid-tile>
                <md-grid-tile ng-if="application.level != 1 && application.level != 2" md-colspan="1" md-rowspan="1">
                    <div layout="column" class="dropfile" dropfile prop="constHon" indicator="constHonProgress" file-name="Constancia de Honorabilidad">
                        <h5 layout="row" layout-align="center">Constancia de Honorabilidad</h5>
                    </div>
                </md-grid-tile>
                <md-grid-tile ng-if="application.level != 1 && application.level != 2" md-colspan="1" md-rowspan="1">
                    <div layout="column" class="dropfile" dropfile prop="cv" indicator="cvProgress" file-name="Currículum">
                        <h5 layout="row" layout-align="center">Currículum</h5>
                    </div>
                </md-grid-tile>
                <md-grid-tile ng-if="application.profType == 4 || application.profType == 5 || application.profType == 6 || application.profType == 9" md-colspan="1" md-rowspan="1">
                    <div layout="column" class="dropfile" dropfile prop="const" indicator="constProgress" file-name="Constancia de Estudios">
                        <h5 layout="row" layout-align="center">Constancia de Estudios</h5>
                    </div>
                </md-grid-tile>
                <md-grid-tile ng-if="application.profType == 8" md-colspan="1" md-rowspan="1">
                    <div layout="column" class="dropfile" dropfile prop="constLab" indicator="constLabProgress" file-name="Constancia Laboral">
                        <h5 layout="row" layout-align="center">Constancia Laboral</h5>
                    </div>
                </md-grid-tile>
                <md-grid-tile ng-if="application.profType == 9" md-colspan="1" md-rowspan="1">
                    <div layout="column" class="dropfile" dropfile prop="certComp" indicator="certCompProgress" file-name="Certificado de Competencia Laboral">
                        <h5 layout="row" layout-align="center">Certificado de Competencia Laboral</h5>
                    </div>
                </md-grid-tile>
                <md-grid-tile ng-if="application.profType == 9" md-colspan="1" md-rowspan="1">
                    <div layout="column" class="dropfile" dropfile prop="port" indicator="portProgress" file-name="Portafolio">
                        <h5 layout="row" layout-align="center">Portafolio</h5>
                    </div>
                </md-grid-tile>


            </md-grid-list>
        </div>
    </md-card>

    <div layout="row" layout-align="center" style="margin-bottom: 3em">
        <!--<div layout="column" flex="15">-->
            <!--<md-button ng-click="save()" class="md-raised md-primary">-->
                <!--Guardar-->
            <!--</md-button>-->
        <!--</div>-->
        <!--<div layout="column"flex="15">-->
            <md-button ng-click="submit()" ng-disabled="applicationIncomplete()" class="md-raised md-primary">
                Enviar Solicitud
            </md-button>
        <!--</div>-->
    </div>

</div>

<input style="display: none" id="input-file" type="file">