<div>
    <form name="form" ng-submit="submit()">

        <md-card>
            <div class="card-header">Tipo de trámite</div>
            <div class="card-body">
                <div layout="row" layout-align="center">

                    <md-radio-group ng-model="application.type" ng-change="application.level = undefined; application.profile = undefined">
                        <md-radio-button style="display: inline-block" value="1" class="md-primary">
                            General
                        </md-radio-button>
                        <md-radio-button style="display: inline-block;margin-left: 1em" class="md-primary" value="2">
                            Específico
                        </md-radio-button>
                    </md-radio-group>
                </div>


                <div layout="row" layout-align="center" style="margin-top:1em">

                    <div flex="25" layout="column">
                        <md-input-container>
                            <label for="state">Entidad federativa:</label>
                            <md-select name="state" id="state" ng-model="application.state" ng-change="genderChanged()" required>
                                <md-option ng-repeat="state in states |orderBy:'name'" value="{{state.key}}">
                                    {{state.name}}
                                </md-option>
                            </md-select>
                            <ng-messages for="form.state.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                            <div class="md-errors-spacer"></div>
                        </md-input-container>
                    </div>

                    <div layout="column" flex="25" flex-offset="5">
                        <md-input-container>
                            <label for="level">Nivel educativo:</label>
                            <md-select name="level" id="level" ng-model="application.level" ng-change="application.profile = undefined" required>
                                <md-option ng-value="1" ng-show="application.type == 1">Educación Básica
                                </md-option>
                                <md-option ng-value="2" ng-show="application.type == 1">Educación Media Superior
                                </md-option>
                                <md-option ng-value="3" ng-show="application.type == 1">Técnico Superior Universitario
                                </md-option>
                                <md-option ng-value="4" ng-show="application.type == 1">Educación Superior
                                </md-option>
                                <md-option ng-value="5" ng-show="application.type == 2">Superior
                                </md-option>

                            </md-select>
                            <ng-messages for="form.level.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                            <div class="md-errors-spacer"></div>
                        </md-input-container>
                    </div>
                    <div layout="column" flex="25" flex-offset="5">
                        <md-input-container>

                            <label for="profile">Perfin educativo:</label>
                            <md-select name="profile" id="profile" ng-model="application.profile" required>
                                <md-option ng-repeat="profile in profiles |orderBy:'profile'" ng-value="profile.profile" ng-click="application.profType = profile.profType" ng-show="application.level == profile.levelType">
                                    {{profile.profile}}
                                </md-option>
                            </md-select>

                            <ng-messages for="form.profile.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>

                            <div class="md-errors-spacer"></div>

                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-card>


    </form>


    <md-card>
        <div class="card-header">Documentos</div>
        <div class="card-body" style="padding:4em">
            <md-grid-list ng-show="application.level != undefined && application.profile != undefined" md-cols="3" md-row-height="6:5" md-gutter="4em">

                <md-grid-tile md-colspan="1" md-rowspan="1">
                    <dropfile layout="column" class="dropfile"  ng-model="application.docs.acta"  file-name="Acta de Nacimiento" on-destroy="deleteDoc('acta')" deletable="true"></dropfile>
                </md-grid-tile>
                <md-grid-tile md-colspan="1" md-rowspan="1">
                    <dropfile layout="column" class="dropfile"  ng-model="application.docs.curp"  file-name="CURP" on-destroy="deleteDoc('curp')" deletable="true"></dropfile>
                </md-grid-tile>
                <md-grid-tile ng-if="application.level != 2" md-colspan="1" md-rowspan="1">
                    <dropfile layout="column" class="dropfile"  ng-model="application.docs.ident"  file-name="Identificación Oficial" on-destroy="deleteDoc('ident')" deletable="true"></dropfile>
                </md-grid-tile>
                <md-grid-tile md-colspan="1" md-rowspan="1">
                    <dropfile layout="column" class="dropfile"  ng-model="application.docs.certAnt"  file-name="Certificado de Estudios" on-destroy="deleteDoc('certAnt')" deletable="true"></dropfile>
                </md-grid-tile>
                <md-grid-tile ng-if="application.level != 1 && application.level != 2" md-colspan="1" md-rowspan="1">
                    <dropfile layout="column" class="dropfile"  ng-model="application.docs.constHon"  file-name="Constancia de Honorabilidad" on-destroy="deleteDoc('constHon')" deletable="true"></dropfile>
                </md-grid-tile>
                <md-grid-tile ng-if="application.level != 1 && application.level != 2" md-colspan="1" md-rowspan="1">
                    <dropfile layout="column" class="dropfile"  ng-model="application.docs.cv"  file-name="Currículum" on-destroy="deleteDoc('cv')" deletable="true"></dropfile>
                </md-grid-tile>
                <md-grid-tile ng-if="application.profType == 4 || application.profType == 5 || application.profType == 6 || application.profType == 9" md-colspan="1" md-rowspan="1">
                    <dropfile layout="column" class="dropfile"  ng-model="application.docs.const"  file-name="Constancia de Estudios" on-destroy="deleteDoc('const')" deletable="true"></dropfile>
                </md-grid-tile>
                <md-grid-tile ng-if="application.profType == 8" md-colspan="1" md-rowspan="1">
                    <dropfile layout="column" class="dropfile"  ng-model="application.docs.constLab"  file-name="Constancia Laboral" on-destroy="deleteDoc('constLab')" deletable="true"></dropfile>
                </md-grid-tile>
                <md-grid-tile ng-if="application.profType == 9" md-colspan="1" md-rowspan="1">
                    <dropfile layout="column" class="dropfile"  ng-model="application.docs.certComp"  file-name="Certificado de Competencia Laboral" on-destroy="deleteDoc('certComp')" deletable="true"></dropfile>
                </md-grid-tile>
                <md-grid-tile ng-if="application.profType == 9" md-colspan="1" md-rowspan="1">
                    <dropfile layout="column" class="dropfile"  ng-model="application.docs.port"  file-name="Portafolio" on-destroy="deleteDoc('port')" deletable="true"></dropfile>
                </md-grid-tile>


            </md-grid-list>
        </div>
    </md-card>

    <div layout="row" layout-align="center" style="margin-bottom: 3em">
        <!--<div layout="column" flex="15">-->
            <!--<md-button ng-click="save()" class="md-raised md-primary">-->
                <!--Guardar-->
            <!--</md-button>-->
        <!--</div>-->
        <!--<div layout="column"flex="15">-->
            <md-button ng-click="submit()" ng-disabled="applicationIncomplete()" class="md-raised md-primary">
                Enviar Solicitud
            </md-button>
        <!--</div>-->
    </div>

</div>


