<div>
    <form name="form" ng-submit="submit()">

        <md-card>
            <div class="card-header">Tipo de trámite</div>
            <div class="card-body">
                <div layout="row" layout-align="center">

                    <md-radio-group ng-model="application.type" ng-change="application.level = undefined; application.level = undefined">
                        <md-radio-button style="display: inline-block" value="1" class="md-primary">
                            General
                        </md-radio-button>
                        <md-radio-button style="display: inline-block;margin-left: 1em" class="md-primary" value="2">
                            Específico
                        </md-radio-button>
                    </md-radio-group>
                </div>


                <div layout="row" layout-align="center" style="margin-top:1em">

                    <div flex="25" layout="column">
                        <md-input-container>
                            <label for="state">Entidad federativa:</label>
                            <md-select name="state" id="state" ng-model="application.state" ng-change="genderChanged()" required>
                                <md-option value="01">Aguascalientes</md-option>
                                <md-option value="02">Baja California</md-option>
                                <md-option value="03">Baja California Sur</md-option>
                                <md-option value="04">Campeche</md-option>
                                <md-option value="05">Coahuila de Zaragoza</md-option>
                                <md-option value="06">Colima</md-option>
                                <md-option value="07">Chiapas</md-option>
                                <md-option value="08">Chihuahua</md-option>
                                <md-option value="09">Distrito Federal</md-option>
                                <md-option value="10">Durango</md-option>
                                <md-option value="11">Guanajuato</md-option>
                                <md-option value="12">Guerrero</md-option>
                                <md-option value="13">Hidalgo</md-option>
                                <md-option value="14">Jalisco</md-option>
                                <md-option value="15">México</md-option>
                                <md-option value="16">Michoacán de Ocampo</md-option>
                                <md-option value="17">Morelos</md-option>
                                <md-option value="18">Nayarit</md-option>
                                <md-option value="19">Nuevo León</md-option>
                                <md-option value="20">Oaxaca</md-option>
                                <md-option value="21">Puebla</md-option>
                                <md-option value="22">Querétaro</md-option>
                                <md-option value="23">Quintana Roo</md-option>
                                <md-option value="24">San Luis Potosí</md-option>
                                <md-option value="25">Sinaloa</md-option>
                                <md-option value="26">Sonora</md-option>
                                <md-option value="27">Tabasco</md-option>
                                <md-option value="28">Tamaulipas</md-option>
                                <md-option value="29">Tlaxcala</md-option>
                                <md-option value="30">Veracruz de Ignacio de la Llave</md-option>
                                <md-option value="31">Yucatán</md-option>
                                <md-option value="32">Zacatecas</md-option>
                            </md-select>
                            <ng-messages for="form.state.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                            <div class="md-errors-spacer"></div>
                        </md-input-container>
                    </div>

                    <div layout="column" flex="25" flex-offset="5">
                        <md-input-container>
                            <label for="level">Nivel educativo:</label>
                            <md-select  name="level" id="level" ng-model="application.level" ng-change="application.profile = undefined" requiered>
                                <md-option value="1" ng-show="application.type == 1">Educación Básica</md-option>
                                <md-option value="2" ng-show="application.type == 1">Educación Media Superior</md-option>
                                <md-option value="3" ng-show="application.type == 1">Técnico Superior Universitario</md-option>
                                <md-option value="4" ng-show="application.type == 1">Educación Superior</md-option>
                                <md-option value="5" ng-show="application.type == 2">Superior</md-option>

                            </md-select>
                            <ng-messages for="form.gender.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                            <div class="md-errors-spacer"></div>
                        </md-input-container>
                    </div>
                    <div layout="column" flex="25" flex-offset="5">
                        <md-input-container>

                            <label for="profile">Perfin educativo:</label>
                            <md-select  name="profile" id="profile" ng-model="application.profile" requiered>
                                <md-option ng-repeat="profile in profiles |orderBy:'profile'" value="{{profile.profile}}" ng-click="application.profType = profile.profType" ng-show="application.level == profile.levelType">{{profile.profile}}</md-option>
                            </md-select>

                            <ng-messages for="form.subgender.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>

                            <div class="md-errors-spacer"></div>

                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-card>


    </form>


    <md-card>
        <div class="card-header">Documentos</div>
        <div class="card-body">
            <div layout="row">

                <div layout="column" flex-offset="10" flex="20" dropfile prop="file1" indicator="progress1" class="drop-container" layout-align="end center">

                    <h5>Acta de Nacimiento</h5>

                    <div ng-show="application.file1 == ''" class="dropzone">Arrastre archivo o haga click</div>

                    <div class="file-icon-container " ng-show="application.file1 != ''">
                        <md-icon class="file-icon" md-svg-src="resources/icons/ic_insert_drive_file.svg"></md-icon>
                        <md-icon class="delete-icon" md-svg-src="resources/icons/ic_delete_forever.svg">
                            <md-tooltip md-direction="left">
                                Eliminar
                            </md-tooltip>
                        </md-icon>
                    </div>

                    <md-progress-linear ng-show="progress1 != 0" md-mode="determinate" ng-value="progress1"></md-progress-linear>
                    <div class="name"></div>

                </div>
                <div layout="column" flex-offset="10" flex="20" dropfile prop="file2" indicator="progress2" class="drop-container" layout-align="end center">

                    <h5>CURP</h5>

                    <div ng-show="application.file2 == ''" class="dropzone">Arrastre archivo o haga click</div>

                    <div class="file-icon-container " ng-show="application.file2 != ''">
                        <md-icon class="file-icon" md-svg-src="resources/icons/ic_insert_drive_file.svg"></md-icon>
                        <md-icon class="delete-icon" md-svg-src="resources/icons/ic_delete_forever.svg">
                            <md-tooltip md-direction="left">
                                Eliminar
                            </md-tooltip>
                        </md-icon>
                    </div>

                    <md-progress-linear ng-show="progress2 != 0" md-mode="determinate" ng-value="progress2"></md-progress-linear>
                    <div class="name"></div>

                </div>
                <div layout="column" flex-offset="10" flex="20" dropfile prop="file3" indicator="progress3" class="drop-container" layout-align="end center">

                    <h5>Certificado</h5>

                    <div ng-show="application.file3 == ''" class="dropzone">Arrastre archivo o haga click</div>

                    <div class="file-icon-container " ng-show="application.file3 != ''">
                        <md-icon class="file-icon" md-svg-src="resources/icons/ic_insert_drive_file.svg"></md-icon>
                        <md-icon class="delete-icon" md-svg-src="resources/icons/ic_delete_forever.svg">
                            <md-tooltip md-direction="left">
                                Eliminar
                            </md-tooltip>
                        </md-icon>
                    </div>

                    <md-progress-linear ng-show="progress3 != 0" md-mode="determinate" ng-value="progress3"></md-progress-linear>
                    <div class="name"></div>

                </div>


            </div>
        </div>
    </md-card>

    <div layout="row" layout-align="center" style="margin-bottom: 3em">
        <md-button ng-click="submit()" ng-disabled="applicationIncomplete()" class="md-raised md-primary">Subir
            solicitud
        </md-button>
    </div>
</div>

<input data-prop="hola" style="display: none" id="input-file" type="file">